@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
fonts: {
    font-family: 'Vina Sans', sans-serif;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Poppins', sans-serif;
} */

/* STYLING FOR THE CONTACT PAGE */
.contact-us-container {
    min-height: 400px;
    width: 100%;
    background: rgba(0, 128, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.contact-page-bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.7);
    z-index: 1;
}
.contact-page-banner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-us-container:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: #13b20f;
    right: 0;
    bottom: 0;
    z-index: 5;
    transform: rotate(225deg) translate(-71%,0);
}
.contact-us-header {
    color: #fff;
    font-size: 4em;
    font-weight: 300;
}
.contact-us-title {
    font-family: 'Poppins', sans-serif;
    color: #e3ce1a;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.contact-us-title-link {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.contact-us-title-link:hover {
    color: #e3ce1a;
}
.contact-us-form-container {
    height: fit-content;
    background: rgba(0, 128, 0, 0.1);
    position: relative;
    padding-top: 100px;
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.form-layout a {
    background: #13b20f;
    border-radius: 17px;
    padding: 20px 49px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    transition: 0.4s;
}
.form-layout a:hover {
    background: #1b1515;
}
.form-control {
    padding: 10px 20px !important;
    border-radius: 12px !important;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2) !important;
}
.form-control:focus {
    border: 1px solid #13b20f !important;
    box-shadow: none !important;
}
.form-control::placeholder {
    /* padding-left: 20px; */
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 200;
}
.contact-form-header {
    font-weight: 100;
}
.google-map {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact-info {
    position: relative;
    bottom: -110px;
    z-index: 100;
}
.contact-address {
    position: relative;
    min-width: 250px;
    box-shadow: 0 3px 9px rgba(129, 124, 124, 0.5);
    height: auto;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255);
    padding: 23px 30px;
    text-align: center;
}
.contact-address i {
    font-size: 4em;
}
.contact-address p {
    font-size: 26px;
}
.contact-address span {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
/* STYLING FOR THE CONTACT PAGE ENDS :) */



/* .....................................................................................................
....................................................................................................... */
/* STYLING FOR THE ABOUT PAGE */

.about-us-container {
    min-height: 400px;
    width: 100%;
    background: rgba(0, 128, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.about-page-bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.7);
    z-index: 1;
}
.about-page-banner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us-container:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: #13b20f;
    right: 0;
    bottom: 0;
    z-index: 5;
    transform: rotate(225deg) translate(-71%,0);
}
.about-us-header {
    color: #fff;
    font-size: 4em;
    font-weight: 300;
}
.about-us-title {
    font-family: 'Poppins', sans-serif;
    color: #e3ce1a;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.about-us-title-link {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.about-us-title-link:hover {
    color: #e3ce1a;
}
.about-us-story {
    position: relative;
    padding-top: 100px;
}
.about-us-outline h1:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 3em;
}
.about-us-outline h1:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4em;
}
.farmtek-logistics-container {
    width: 100%;
    min-height: 250px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 17px;
    position: relative;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.farmtek-logistics-item .farmtek-logistics-logo {
    background-color: #13b20f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.farmtek-logistics-item .farmtek-logistics-fonts >p:nth-child(1) {
    font-weight: bold;
    font-size: 26px;
    color: #000;
    margin-bottom: 0;
}
.farmtek-logistics-item:hover .farmtek-logistics-logo i {
    transition: 0.3s linear;
}
.farmtek-logistics-item:hover .farmtek-logistics-logo i {
    transform: scale(0.9) rotate(3deg);
}

/* STYLING FOR THE ABOUT PAGE ENDS :) */


/* .......................................................................................................
............................................................................................................ */
/* STYLING FOR THE HOME PAGE */
html,
body {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6,li {
    font-family: 'Commissioner', sans-serif;
    color: #1b1515;
    font-weight: 900;
}
.header-text {
    font-size: 3rem;
}
* >p {
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,0.8);
    font-weight: 400;
    font-size: 15px;
}
li {
    list-style: none;
}
dl, ol, ul {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    width: auto;
    height: auto;
}


/* HEADER STYLING STARTS */
#header {
    background-color: #1b1515;
    position: relative;
    width: inherit;
}
.header-info span {
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.header-addresse a span{
    font-family: 'Quicksand', sans-serif;
    color: rgb(255,255,255);
    transition: .6s;
}
.header-activities a span i {
    transition: .6s;
}
.header-addresse a span:hover, .header-activities a span i:hover {
    color: #e3ce1a !important;
}
.header-search {
    width: 380px;
    height: auto;
}
.header-search input {
    width: 100% !important;
    height: 100%;
    padding: 10px;
    padding-right: 80px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    outline: none;
}
.header-search input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
}
.header-search button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    height: 100%;
    padding: 0 15px 0 15px;
    background-color: #13b20f;
    border: none;
}
hr {
    margin: 0 !important;
    height: 2px;
    background-color: rgba(255,255,255,0.5);
}
/* HEADER STYLING ENDS BUT STILL ADAPTING */


/* NAVBAR STYLING BEGINS */
.nav-bar {
    width: 100%;
    height: auto;
    background-color: rgba(18, 178, 16, 0.3);
    position: relative;
    z-index: 999;
}
#navBar.fixedToTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #1b1515;
}
.nav-bar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}
.nav-bar .nav-menu .nav-item .nav-link {
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-bar .nav-menu .nav-item .home-submenu,
.nav-bar .nav-menu .nav-item .blog-submenu  {
    position: absolute;
    left: 0;
    width: 250px;
    top: 41px;
    background-color: #fff;
    padding: 20px 15px;
    box-shadow: 3px 5px 20px rgba(0,0,0,.2);
    transform: translateZ(20px) scaleY(0);
    transform-origin: top;
    transition: .2s;
    z-index: 999;
}
.nav-bar .nav-menu .nav-item .pages-submenu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 41px;
    background-color: #fff;
    padding: 40px 15px;
    margin: 0;
    box-shadow: 0 50px 80px rgba(0,0,0,.2);
    transform: translateZ(20px) scaleY(0);
    transform-origin: top;
    transition: .2s;
    z-index: 999;
}
.nav-bar .nav-menu .nav-item .home-submenu:hover,
.nav-bar .nav-menu .nav-item .home-nav-link:hover + .home-submenu {
    transform: translateZ(50px) scaleY(1);
}
.nav-bar .nav-menu .nav-item .blog-submenu:hover,
.nav-bar .nav-menu .nav-item .blog-nav-link:hover + .blog-submenu {
    transform: translateZ(50px) scaleY(1);
}
.nav-bar .nav-menu .nav-item .pages-submenu:hover,
.nav-bar .nav-menu .nav-item .pages-nav-link:hover + .pages-submenu {
    transform: translateZ(50px) scaleY(1);
}
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.1);
}
.nav-bar .nav-menu .nav-item .home-submenu .home-submenu-items span,
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items span,
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items h6,
.nav-bar .nav-menu .nav-item .blog-submenu .blog-submenu-items span {
    display: block;
}
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items span,
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items h6 {
    margin-left: 20px;
}
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items span .submenu-navlink,
.nav-bar .nav-menu .nav-item .home-submenu .home-submenu-items span .submenu-navlink,
.nav-bar .nav-menu .nav-item .blog-submenu .blog-submenu-items span .submenu-navlink {
    display: block;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
    line-height: 40px;
    transition: .3s;
}
.nav-bar .nav-menu .nav-item .home-submenu .home-submenu-items span .submenu-navlink:hover,
.nav-bar .nav-menu .nav-item .pages-submenu .pages-submenu-items span .submenu-navlink:hover,
.nav-bar .nav-menu .nav-item .blog-submenu .blog-submenu-items span .submenu-navlink:hover {
    color: #13b20f;
    padding-left: 11px;
}
.nav-bar > a {
    position: fixed;
    right: 0;
    bottom: 40px;
    background-color: #1b1515;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.nav-bar > a.show-link {
    visibility: visible;
    z-index: 999;
}
section {
    margin-bottom: 100px;
}
/* NAVBAR STYLING ENDS  */



/* HERO SECTION STYLING */
.hero-section {
    position: relative;
    background: #1b1515;
}
.hero-slider {
    position: relative;
    width: 100%;
    height: 700px;
    background: inherit;
    /* z-index: 1; */
}
.hero-content {
    position: absolute;
    top: 11rem;
    left: 7rem;
    width: 550px;
    z-index: 3;
}
.hero-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}
.hero-text .wellcome {
    font-size: 20px;
    color: #e3ce1a;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
}
.hero-text .heading {
    font-size: 60px;
    letter-spacing: 0.05rem;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    line-height: 70px;
}
.hero-text a {
    border: 2px solid #fff;
    border-radius: 17px;
    padding: 20px 29px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    transition: 0.4s;
}
.hero-text a:hover {
    background-color: #13b20f;
    border: 2px solid #13b20f;
}
/* HERO SECTION STYLING ENDS */


/* THIS STYLNG IS FOR THE FIRST GRID PARTITION */
.product-grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    overflow: hidden;
}


.first-product-grid {
    background-color: rgba(0, 128, 0, 0.1);
    grid-row: span 2;
    height: 500px;
    padding: 10px 37px;
}
.first-product-row {
    flex-direction: column-reverse;
}
.first-product-row .product-caption {
    width: 100%;
    height: auto;
}
.first-product-row .product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}
.first-product-row .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
}
.first-product-row:hover .product-image img {
    transform: rotate(5deg) scale(1.2);
}
/* FIRST GRID PARTITION STYING ENDS */



/* THIS STYLNG IS FOR THE SECOND GRID PARTITION */
.second-product-grid {
    background-color: rgba(0,0,0,0.1);
    padding: 10px 37px;
}
.second-product-grid .product-image {
    width: 207px;
    height: auto;
    overflow: hidden;
}
.second-product-grid .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.second-product-grid:hover .product-image img {
    transform: rotate(5deg) scale(1.2);
}
.second-product-grid .product-caption p,
.first-product-row .product-caption P {
    font-size: 2em;
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.second-product-grid .product-caption span,
.first-product-row .product-caption span {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.second-product-grid .product-caption a,
.first-product-row .product-caption a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #13b20f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-product-grid .product-caption a i,
.first-product-row .product-caption a i {
    transition: .8s;
}
.second-product-grid .product-caption a:hover i,
.first-product-row .product-caption a:hover i {
    transform: scale(1.2);
}
/* SECOND GRID PARTITION STYING ENDS */



/* THIS STYLING IS FOR PRODUCT SECTION LINKS AT THE BOTTOM */
.product-section .product-grid-link a {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 17px;
    padding: 15px 35px;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    transition: 0.4s;
}
.product-section .product-grid-link a:hover {
    background-color: #13b20f;
    border: 1px solid #13b20f;
    color: #fff;
}
/* PRODUCTS LINK STYING ENDS */



/* STYLING FOR THE GROUP PRODUCTS */
.product-row {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    min-width: 250px;
    box-shadow: 0 3px 9px rgba(129, 124, 124, 0.2);
    min-height: 350px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    text-align: center;
    overflow: hidden;
    transition: .5s;
}
.product-row .product-row-image {
    height: 200px;
    width: 100%;
}
.product-row .product-row-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-row .product-row-caption span {
    font-family: 'Poppins', sans-serif;
}
.product-row .product-row-history {
    left: 50%;
    bottom: -30px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transition: all 0.5s linear;
}
.product-row:hover .product-row-history {
    bottom: 15px;
}
.product-row .product-row-history a {
    padding: 7px 9px;
    border-radius: 4px;
    background-color: #1b1515;
    transition: .6s;
    cursor: pointer;
}
.product-row .product-row-history a:hover {
    background-color: #13b20f;
    cursor: pointer;
}
/* GROUP PRODUCTS STYING ENDS */



/* STYLING FOR THE SECOND HERO SECTION */
.second-hero-section {
    position: relative;
    width: 100%;
    height: 500px;
}
.second-hero-section .bg-picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.second-hero-section .bg-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.second-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.second-hero-text .wellcome {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.second-hero-text .heading {
    font-size: 60px;
    letter-spacing: 0.05rem;
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    line-height: 70px;
}
.second-hero-text a {
    border: 2px solid #fff;
    border-radius: 17px;
    padding: 20px 29px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif;
    transition: 0.4s;
}
.second-hero-text a:hover {
    background-color: #13b20f;
    border: 2px solid #13b20f;
}
.second-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
} 
/* SECOND HERO SECTION STYLING ENDS */



/* STYLING FOR THE TESTIMONIAL SECTION */
.testimonials {
    background-color: rgba(18, 178, 16, 0.1);
    position: relative;
    padding: 100px 0;
}
.testimonials .title {
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.5;
}
.testimonials-item .info {
    display: flex;
    align-items: center;
}
.testimonials-item .img-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.testimonials-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-item .name {
    color: #13b20f;
    font-weight: 700;
}
.testimonials-item .job {
    font-weight: 500;
}
.testimonials-item p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 2;
}
.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36,88%,66%);
} 
.testimonials .swiper-button-prev,
.testimonials .swiper-button-next,
.hero-section .swiper-button-prev,
.hero-section .swiper-button-next {
    padding: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
    visibility: hidden;
    transition: .4s;
}
.testimonials-content:hover .swiper-button-prev,
.hero-section:hover .swiper-button-prev {
    visibility: visible;
    margin-left: 20px;
}
.testimonials-content:hover .swiper-button-next,
.hero-section:hover .swiper-button-next {
    visibility: visible;
    margin-right: 20px;
}
/* TESTIMONIAL SECTION STYING ENDS */


/* THIS STYLING IS FOR THE COMPANY BRANDS */
.brands-container {
    width: 100%;
    min-height: 250px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fonts h1 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    letter-spacing: -0.1em;
}
.fonts h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
}
.fonts p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    color: #000;
}
/* COMPANY BRANDS STYLING ENDS */



/* STYLING FOR THE BLOG SECTION */
.blog-section {
    position: relative;
    /* padding: 100px 0; */
}
.blog-section .title {
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.5;
}
.blogs-item .blog-image {
    height: 260px;
    width: 270px;
}
.blogs-item .blog-caption {
    width: 400px;
}
.blogs-item .blog-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.blogs-item .blog-caption .blog-text-link:hover,
.blogs-item .blog-caption .blog-header:hover {
    color: #13b20f !important;
    cursor: pointer;
}
.blogs-item .blog-caption .blog-header {
    color: #1b1515;
    font-family: 'Commissioner', sans-serif;
    font-size: 26px;
    font-weight: 600;
    transition: .5s;
}
.blogs-item .blog-caption .blog-link {
    color: #fff;
    font-size: 1em;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 17px;
    background-color: #1b1515;
    transition: .8s;
}
.blogs-item .blog-caption .blog-link:hover {
    padding: 10px 35px;
    background-color: #13b20f;
}
.blogs-item .blog-caption p {
    font-weight: 400;
    line-height: 2;
}
.blog-section .js-blogs-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
/*BLOG SECTION STYING ENDS */

/* STYLING FOR THE FOOTER/INFO SECTION */
.info-section, .testimonials {
    background-color: rgba(18, 178, 16, 0.1);
    position: relative;
    padding: 100px 0;
}
.social-media a {
    background-color: rgba(0, 128, 0, 0.3);;
    border-radius: 4px;
    padding: 7px 9px;
    transition: 0.4s;
    cursor: pointer;
}
.social-media a:hover {
    background-color: #13b20f;
    transform: translate(4px);
}
.footer-links {
    font-weight: 400;
    line-height: 32px;
    /* font-size: 16px; */
    color: rgba(0,0,0,0.8);
    transition: .4s;
}
.footer-links:hover {
    padding-left: 8px;
    color: #13b20f;
}
.footer-address {
    font-size: 15px;
    line-height: 32px;
}
footer {
    background-color: rgba(18, 178, 16, 0.3);
    padding: 7px 0;
}
.copyright p {
    font-family: 'Jura', sans-serif;
    margin-bottom: 0;
}
/* STYING ENDS :) */


/* STYLING CUSTOMIZABLE SLIDES/FADES */
/* FADE/SLIDE CSS */
.slide-bottom {
    animation: slideBottom 2s ease-in-out;
    animation-delay: 1.5s;
}
.scrolled.fade-in {
    animation: fadeIn 3s ease-in-out;
}

/* HERO TEXT ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        -webkit-transform: translateY(100px); ;
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
 }